# Домашнее задание на проверку знаний библиотеки для анализа данных Pandas.

Вам представлен датасет, который содержит информацию по результатам сезона 2016 года игры в бейсбол.

Вам необходимо загрузить датасет (он находится в архиве с текущим домашним заданием). Провести его очистку, если это необходимо и ответить на поставленные аналитические
вопросы.

Список колонок, представленных в датасете:

---
* attendance        - количество зрителей матча
* away_team         - название гостевой команды
* away_team_errors  - количество ошибок гостевой команды
* away_team_hits    - количество хитов гостевой команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* away_team_runs    - количество ранов гостевой команды (ран в бейсболе - очко заработанное игроком нападения)
* date              - дата проведения матча
* field_type        - тип игрового поля
* game_type         - тип игры
* home_team         - название домашней команды
* home_team_errors  - количество ошибок домашней команды
* home_team_hits    - количество хитов домашней команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* home_team_runs    - количество ранов домашней команды (ран в бейсболе - очко заработанное игроком нападения)
* start_time        - время начала игрового матча
* venue             - название места проведения матча (стадион, поле, арена)
* day_of_week       - день недели проведения матча
* temperature       - температура воздуха в день проведения матча в фаренгейтах
* wind_speed        - скорость ветра в день проведения матча
* wind_direction    - направление скорости ветра
* sky               - облачность
* total_runs        - общее количество ранов для двух команд
* game_hours_dec    - длительность матча указаная в часах
* season            - тип игрового сезона
* home_team_win     - результат домашней команды (1 - выигрыш)
* home_team_loss    - результат домашней команды (0 - проигрыш)
* home_team_outcome - исход матча
---

Всего в задании 20 вопросов. За каждый правильный вопрос начисляется 5 баллов. Таким образом за все правильные ответы вы получите - 100 баллов. Оценка затем будет приведена к 10-ти бальной шкале.

---

**Кроме того, баллы могут быть снижены за**:

- 1 балл снижается за качество кода - старайтесь чтобы код был максимально лаконичным. Названия переменных (если они используются) должны отражать максимальную ее сущность. Вывод старайтесь делать минимальным, так как первичная цель - сделать качественный анализ, чтобы быстро ответить на поставленный вопрос (никаких таблиц на 100 строк).


- 5 баллов снижается если ответ на домашнюю работу будет прислан в виде скриншота, ноутбука, текстового файла и прочих способов. Используйте при отправке на проверку только GitHub/GitLab либо прочий сервис. Присылать домашнюю работу необходимо ссылкой на ваш репозиторий на адрес электронной почты maratmovlamov2017@gmail.com


- за каждый день просрочки дедлайна снижается по 10 баллов. Один день - минус 10 баллов, второй день минус 10 баллов, третий день минус 10 баллов. Соблюдайте сроки и не приступайте к домашнему заданию в последний момент.

---

Удачи вам в поисках истинны :)

In [2]:
# Импортируйте все необходимые библиотеки и модули которые вам необходимы
import pandas as pd
import numpy as np
from datetime import datetime

In [3]:
# Загрузите датасет и проведите его очистку и форматирование если это необходимо
data = pd.read_csv( 'D:/HW/practical_task/baseball_games.csv', delimiter = ',')
data.head(5)

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
0,0,40030.0,New York Mets,1,7,3,2016-04-03,on grass,Night Game,Kansas City Royals,...,74.0,14.0,from Right to Left,Sunny,7,3.216667,regular season,1,0,Win
1,1,21621.0,Philadelphia Phillies,0,5,2,2016-04-06,on grass,Night Game,Cincinnati Reds,...,55.0,24.0,from Right to Left,Overcast,5,2.383333,regular season,1,0,Win
2,2,12622.0,Minnesota Twins,0,5,2,2016-04-06,on grass,Night Game,Baltimore Orioles,...,48.0,7.0,out to Leftfield,Unknown,6,3.183333,regular season,1,0,Win
3,3,18531.0,Washington Nationals,0,8,3,2016-04-06,on grass,Night Game,Atlanta Braves,...,65.0,10.0,from Right to Left,Cloudy,4,2.883333,regular season,0,1,Loss
4,4,18572.0,Colorado Rockies,1,8,4,2016-04-06,on grass,Day Game,Arizona Diamondbacks,...,77.0,0.0,in unknown direction,In Dome,7,2.650000,regular season,0,1,Loss

In [4]:
regular_games = data.query('season == "regular season"')
regular_games.head(5) #исключаем из DF товарищеские матчи

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
0,0,40030.0,New York Mets,1,7,3,2016-04-03,on grass,Night Game,Kansas City Royals,...,74.0,14.0,from Right to Left,Sunny,7,3.216667,regular season,1,0,Win
1,1,21621.0,Philadelphia Phillies,0,5,2,2016-04-06,on grass,Night Game,Cincinnati Reds,...,55.0,24.0,from Right to Left,Overcast,5,2.383333,regular season,1,0,Win
2,2,12622.0,Minnesota Twins,0,5,2,2016-04-06,on grass,Night Game,Baltimore Orioles,...,48.0,7.0,out to Leftfield,Unknown,6,3.183333,regular season,1,0,Win
3,3,18531.0,Washington Nationals,0,8,3,2016-04-06,on grass,Night Game,Atlanta Braves,...,65.0,10.0,from Right to Left,Cloudy,4,2.883333,regular season,0,1,Loss
4,4,18572.0,Colorado Rockies,1,8,4,2016-04-06,on grass,Day Game,Arizona Diamondbacks,...,77.0,0.0,in unknown direction,In Dome,7,2.650000,regular season,0,1,Loss

In [5]:
data.columns.tolist() #список колонок

['Unnamed: 0',
 'attendance',
 'away_team',
 'away_team_errors',
 'away_team_hits',
 'away_team_runs',
 'date',
 'field_type',
 'game_type',
 'home_team',
 'home_team_errors',
 'home_team_hits',
 'home_team_runs',
 'start_time',
 'venue',
 'day_of_week',
 'temperature',
 'wind_speed',
 'wind_direction',
 'sky',
 'total_runs',
 'game_hours_dec',
 'season',
 'home_team_win',
 'home_team_loss',
 'home_team_outcome']

In [6]:
#количество строк
len(data)

2463

# 1. На какую игру пришло максимальное количество зрителей за весь сезон игр?

In [8]:
regular_games['attendance'].describe()  # описание столбца для опроверки макс значения

count     2425.000000
mean     30168.937732
std       9781.205573
min       8766.000000
25%      22274.000000
50%      30357.000000
75%      38089.000000
max      53621.000000
Name: attendance, dtype: float64

In [84]:
max_attend = regular_games['attendance'].max() #находим максимальное значение в столбце количество зрителей
max_attendance = regular_games.query('@max_attend == attendance') #отбираем строки, в которых количество зрителей равно макс значению 
max_attendance #игра сезона с максимальным количеством зрителей

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
534,534,53621.0,San Francisco Giants,1,11,2,2016-09-20,on grass,Night Game,Los Angeles Dodgers,...,77.0,6.0,out to Rightfield,Cloudy,2,3.6,regular season,0,1,Loss

# 2. Какая игра была самая холодная (temperature) за весь сезон?

In [11]:
regular_games['temperature'].describe()  # описание столбца для опроверки мин значения

count    2428.000000
mean       73.914333
std        10.549121
min        31.000000
25%        67.000000
50%        74.000000
75%        81.000000
max       101.000000
Name: temperature, dtype: float64

In [86]:
minimum = regular_games['temperature'].min() # находим минимальное значение
min_temp = regular_games.query('@minimum == temperature') # в запрос добавляем условие, что температура равна мин значению 
min_temp #игра, которая состоялась при мин температуре в сезон

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2409,2409,32419.0,New York Yankees,1,13,8,2016-04-09,on grass,Day Game,Detroit Tigers,...,31.0,18.0,from Left to Right,Cloudy,12,3.333333,regular season,0,1,Loss

# 3. Какая игра была самая теплая за весь сезон?

In [88]:
maximum = regular_games['temperature'].max() # находим максимальное значение
max_temp = regular_games.query('@maximum == temperature') # в запрос добавляем условие, что температура равнс макс значению 
max_temp #игра, которая состоялась при макс температуре в сезон, самая теплая игра сезона

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2026,2026,21753.0,San Francisco Giants,0,8,3,2016-05-13,on grass,Night Game,Arizona Diamondbacks,...,101.0,9.0,in unknown direction,Sunny,4,3.0,regular season,0,1,Loss

# 4. Какая игра в сезоне была самая долгая по продолжительности матча?

In [16]:
regular_games['game_hours_dec'].describe()

count    2428.000000
mean        3.079517
std         0.455968
min         1.250000
25%         2.783333
50%         3.033333
75%         3.300000
max         6.216667
Name: game_hours_dec, dtype: float64

In [90]:
max_game = regular_games['game_hours_dec'].max() #находим макс значение по столбцу
max_game_hour = regular_games.query('@max_game == game_hours_dec') #отбираем столбцы, в которых продолжительность игры равна макс значению
max_game_hour #самая продолжительная игра в сезоне

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1445,1445,45825.0,Cleveland Indians,0,15,2,2016-07-01,on turf,Day Game,Toronto Blue Jays,...,68.0,0.0,in unknown direction,In Dome,3,6.216667,regular season,0,1,Loss

# 5. Какая игра в сезоне была самая короткая по продолжительности матча?

In [19]:
min_game = regular_games['game_hours_dec'].min() #находим минимальное значение
short_game = regular_games.query('@min_game == game_hours_dec')
short_game #самая короткая игра в сезоне

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
423,423,19991.0,Chicago Cubs,1,4,1,2016-09-29,on grass,Night Game,Pittsburgh Pirates,...,63.0,12.0,in from Leftfield,Overcast,2,1.25,regular season,0,0,Loss

# 6. Сколько матчей в сезоне закончилось ничьей?

In [21]:
regular_games['home_team_outcome'].unique() # уникальные значения столбца исход матча, ничьей - нет

array(['Win', 'Loss'], dtype=object)

In [22]:
regular_games['home_team_win'].unique() # уникальные значения столбца

array([1, 0], dtype=int64)

In [23]:
regular_games['home_team_loss'].unique() # уникальные значения столбца

array([0, 1], dtype=int64)

In [24]:
regular_games[['home_team_outcome', 'home_team_win', 'home_team_loss' ]].head(5)# для просмотра значений

  home_team_outcome  home_team_win  home_team_loss
0               Win              1               0
1               Win              1               0
2               Win              1               0
3              Loss              0               1
4              Loss              0               1

In [25]:
outcome_game = regular_games['home_team_outcome'].value_counts()
outcome_game #количество побед и поражений

home_team_outcome
Win     1287
Loss    1141
Name: count, dtype: int64

In [26]:
regular_games['home_team_loss'].value_counts() #количество побед и поражений

home_team_loss
0    1288
1    1140
Name: count, dtype: int64

In [27]:
regular_games['home_team_win'].value_counts() #количество побед и поражений

home_team_win
1    1287
0    1141
Name: count, dtype: int64

In [28]:
outcome = regular_games.query('home_team_loss == home_team_win') # результаты сумм в home_team_outcome должны соответсвтовать home_team_win
#и home_team_loss, выполнена проверка на одинаковые значения в столбце
outcome # 1 матч закончился с ничьей: win=loss=0

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
423,423,19991.0,Chicago Cubs,1,4,1,2016-09-29,on grass,Night Game,Pittsburgh Pirates,...,63.0,12.0,in from Leftfield,Overcast,2,1.25,regular season,0,0,Loss

# 7. Какая игра была последней в сезоне?

In [30]:
data['date'].describe()

count           2463
unique           203
top       2016-05-07
freq              16
Name: date, dtype: object

In [96]:
max_day = regular_games['date'].max() #макс значение даты проведения матча
l_game = regular_games.query('@max_day == date')  #отбор строк, в которых значение соответвует макс
max_hour = l_game['start_time'].max() #макс значение времени начала проведения матча
last_game = l_game.query('@max_hour == start_time') #из отбора с макс датой
last_game #02/10/16 в 3:17 p.m. Local была последняя игра сезона regular season

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
395,395,36787.0,Toronto Blue Jays,0,9,2,2016-10-02,on grass,Day Game,Boston Red Sox,...,56.0,6.0,out to Leftfield,Unknown,3,3.233333,regular season,0,1,Loss

# 8. У какой игры было минимальное количество зрителей?

In [98]:
min_attend = data['attendance'].min() #находим минимальное значение в столбце количество зрителей
min_attendance = data.query('@min_attend == attendance') 
min_attendance #игра сезона с минимальным количеством зрителей

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2130,2130,8766.0,Detroit Tigers,0,5,0,2016-05-04,on grass,Night Game,Cleveland Indians,...,54.0,11.0,from Left to Right,Overcast,4,2.316667,regular season,1,0,Win

# 9. Какая игра в сезоне была самая ветренная?

In [35]:
regular_games['wind_speed'].describe()

count    2428.000000
mean        7.485997
std         5.061489
min         0.000000
25%         4.000000
50%         7.000000
75%        11.000000
max        25.000000
Name: wind_speed, dtype: float64

In [100]:
max_wind = regular_games['wind_speed'].max() #находим максимальное значение в столбце скорость ветра
max_wind
wind_game = regular_games.query('@max_wind == wind_speed') 
wind_game #самая большая скорость ветра во время игры в сезоне - таких игры 2

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1655,1655,41543.0,Milwaukee Brewers,1,11,5,2016-06-13,on grass,Night Game,San Francisco Giants,...,58.0,25.0,out to Centerfield,Cloudy,16,3.633333,regular season,1,0,Win
2005,2005,35736.0,Houston Astros,2,8,9,2016-05-15,on grass,Day Game,Boston Red Sox,...,58.0,25.0,out to Rightfield,Cloudy,19,3.666667,regular season,1,0,Win

# 10. В какой игре получили максимальное количество очков?

In [38]:
data[['away_team_runs', 'home_team_runs']].head(5)

   away_team_runs  home_team_runs
0               3               4
1               2               3
2               2               4
3               3               1
4               4               3

In [39]:
data['away_team_runs'].describe()

count    2463.000000
mean        4.413723
std         3.104556
min         0.000000
25%         2.000000
50%         4.000000
75%         6.000000
max        21.000000
Name: away_team_runs, dtype: float64

In [40]:
data['home_team_runs'].describe()

count    2463.000000
mean        4.519691
std         3.111572
min         0.000000
25%         2.000000
50%         4.000000
75%         6.000000
max        17.000000
Name: home_team_runs, dtype: float64

In [102]:
max_run =data['away_team_runs'].max()
max_run_away = data.query('@max_run==away_team_runs')
max_run_away# игра с наибольшим количеством очков гостевой команды

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1441,1441,36552.0,Los Angeles Angels of Anaheim,1,22,21,2016-07-02,on grass,Night Game,Boston Red Sox,...,80.0,12.0,out to Rightfield,Cloudy,23,3.633333,regular season,0,1,Loss

In [42]:
max_run_home =data['home_team_runs'].max()
max_run = data.query('@max_run_home==home_team_runs')
max_run#  игры с наибольшим количеством очков домашней команды

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
472,472,35093.0,Philadelphia Phillies,0,3,0,2016-09-25,on grass,Day Game,New York Mets,...,66.0,14.0,in from Leftfield,Sunny,17,3.533333,regular season,1,0,Win
1416,1416,45962.0,Cleveland Indians,2,5,1,2016-07-03,on turf,Day Game,Toronto Blue Jays,...,68.0,8.0,out to Rightfield,Sunny,18,3.166667,regular season,1,0,Win
1439,1439,21466.0,Texas Rangers,1,10,5,2016-07-02,on grass,Day Game,Minnesota Twins,...,76.0,6.0,in unknown direction,Cloudy,22,3.100000,regular season,1,0,Win
1810,1810,20448.0,Cincinnati Reds,0,7,4,2016-05-31,on grass,Night Game,Colorado Rockies,...,64.0,7.0,in from Centerfield,Unknown,21,3.116667,regular season,1,0,Win

# 11. Какая игра содержала максимальное количество ошибок домашней команды?

In [44]:
data['home_team_errors'].describe()

count    2463.000000
mean        0.585871
std         0.805542
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         5.000000
Name: home_team_errors, dtype: float64

In [45]:
max_err = data['home_team_errors'].max() #макс значение количества ошибок домашней команды
max_home_err = data.query('@max_err == home_team_errors') #отбор игры по макс количеству ошибок домашней команды
max_home_err # игра с макс количеством ошибок домашней команды

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1178,1178,22581.0,Arizona Diamondbacks,1,11,8,2016-07-27,on grass,Night Game,Milwaukee Brewers,...,77.0,9.0,in from Leftfield,Cloudy,9,2.933333,regular season,0,1,Loss

# 12. В какой игре было максимальное количество ранов?

In [47]:
#В какой игре было максимальное количество хитов?

In [48]:
data['home_team_hits'].describe()

count    2463.000000
mean        8.611855
std         3.436965
min         0.000000
25%         6.000000
50%         8.000000
75%        11.000000
max        22.000000
Name: home_team_hits, dtype: float64

In [49]:
data['away_team_hits'].describe()

count    2463.000000
mean        8.764515
std         3.511581
min         1.000000
25%         6.000000
50%         8.000000
75%        11.000000
max        22.000000
Name: away_team_hits, dtype: float64

In [50]:
max_away_hits = data['away_team_hits'].max()
max_away_hits # игра с наибольшим количеством хитов гостевой команды

22

In [51]:
max_home_hits = data['home_team_hits'].max()
max_home_hits# игра с наибольшим количеством хитов домашней команды

22

In [52]:
max_hits = data.query('(away_team_hits ==@max_away_hits) |  (home_team_hits==@max_home_hits)')
max_hits #DF сформированный либо с макимальным количеством хитов гостевой или домашней команды

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
461,461,34942.0,Cincinnati Reds,0,22,15,2016-09-26,on grass,Night Game,St. Louis Cardinals,...,67.0,6.0,out to Rightfield,Sunny,17,2.800000,regular season,0,1,Loss
1196,1196,28026.0,Los Angeles Angels of Anaheim,0,22,13,2016-07-26,on grass,Night Game,Kansas City Royals,...,85.0,7.0,in from Rightfield,Sunny,13,3.066667,regular season,0,1,Loss
1423,1423,36137.0,Chicago Cubs,0,11,3,2016-07-03,on grass,Day Game,New York Mets,...,80.0,3.0,out to Leftfield,Cloudy,17,3.283333,regular season,1,0,Win
1441,1441,36552.0,Los Angeles Angels of Anaheim,1,22,21,2016-07-02,on grass,Night Game,Boston Red Sox,...,80.0,12.0,out to Rightfield,Cloudy,23,3.633333,regular season,0,1,Loss
1558,1558,27729.0,San Francisco Giants,1,22,15,2016-06-21,on grass,Night Game,Pittsburgh Pirates,...,82.0,12.0,out to Centerfield,Cloudy,19,3.816667,regular season,0,1,Loss

In [53]:
#максимально количество ранов для гостевой и домашней команды = 22
#461, 1196, 1441, 1558 -игры с максимальным количеством хитов гостевой команды   1423 -игра с максимальным количеством хитов домашней команды

# 13. Выведите количество игр которая сыграла каждая команда в данном сезоне?

In [55]:
regular_games[['away_team', 'home_team']]

                  away_team             home_team
0             New York Mets    Kansas City Royals
1     Philadelphia Phillies       Cincinnati Reds
2           Minnesota Twins     Baltimore Orioles
3      Washington Nationals        Atlanta Braves
4          Colorado Rockies  Arizona Diamondbacks
...                     ...                   ...
2458      Toronto Blue Jays        Tampa Bay Rays
2459    St. Louis Cardinals    Pittsburgh Pirates
2460   San Francisco Giants     Milwaukee Brewers
2461         Detroit Tigers         Miami Marlins
2462         Boston Red Sox     Cleveland Indians

[2428 rows x 2 columns]

In [56]:
away_team = regular_games['away_team']
home_team = regular_games['home_team']
teams = pd.concat([away_team, home_team]) # объединение столбцов домашних команд с гостевыми
count_games = teams.value_counts() #количество вхождений каждой команды 
count_games #количество игр для каждой команды

New York Mets                    162
San Diego Padres                 162
Boston Red Sox                   162
Oakland Athletics                162
Baltimore Orioles                162
Milwaukee Brewers                162
Arizona Diamondbacks             162
Chicago Cubs                     162
New York Yankees                 162
Cincinnati Reds                  162
Pittsburgh Pirates               162
Kansas City Royals               162
Philadelphia Phillies            162
Los Angeles Angels of Anaheim    162
Texas Rangers                    162
San Francisco Giants             162
Houston Astros                   162
Chicago White Sox                162
St. Louis Cardinals              162
Los Angeles Dodgers              162
Toronto Blue Jays                162
Seattle Mariners                 162
Colorado Rockies                 162
Washington Nationals             162
Minnesota Twins                  162
Tampa Bay Rays                   162
Detroit Tigers                   161
Miami Marlins                    161
Atlanta Braves                   161
Cleveland Indians                161
Name: count, dtype: int64

# 14. Какая команда выиграла наибольшое количество матчей в сезоне? (Будьте внимательны с типом матча в сезоне - season).

In [58]:
home_reg_season = regular_games[['home_team', 'home_team_outcome']].query('home_team_outcome != "Loss"') #для домашних матчей удалили loss-поражение
win_home = home_reg_season['home_team']
win_home

0       Kansas City Royals
1          Cincinnati Reds
2        Baltimore Orioles
6           Tampa Bay Rays
8       Pittsburgh Pirates
               ...
2453       Cincinnati Reds
2454     Baltimore Orioles
2459    Pittsburgh Pirates
2460     Milwaukee Brewers
2462     Cleveland Indians
Name: home_team, Length: 1287, dtype: object

In [59]:
away_reg_season = regular_games[['away_team', 'home_team_outcome']].query('home_team_outcome == "Loss"').replace('Loss', 'Win')
win_away = away_reg_season ['away_team'] #для гостевых матчей-поражение домашней команды, победа гостевой. Удалили победу гостевой. Заменили Loss на Win
win_away

3       Washington Nationals
4           Colorado Rockies
5           Seattle Mariners
7        Los Angeles Dodgers
9          Chicago White Sox
                ...
2455    Washington Nationals
2456        Colorado Rockies
2457            Chicago Cubs
2458       Toronto Blue Jays
2461          Detroit Tigers
Name: away_team, Length: 1141, dtype: object

In [60]:
win_reg_season = pd.concat([win_home, win_away]) #объединили победы команд в один df 
winner = win_reg_season.value_counts()#количество побед каждой команды. Отсортированы по убыванию
winner

Chicago Cubs                     104
Texas Rangers                     95
Washington Nationals              95
Cleveland Indians                 94
Boston Red Sox                    93
Los Angeles Dodgers               91
Baltimore Orioles                 89
Toronto Blue Jays                 89
New York Mets                     87
San Francisco Giants              87
Seattle Mariners                  86
Detroit Tigers                    86
St. Louis Cardinals               86
Houston Astros                    84
New York Yankees                  84
Kansas City Royals                81
Miami Marlins                     79
Chicago White Sox                 78
Pittsburgh Pirates                78
Colorado Rockies                  75
Los Angeles Angels of Anaheim     74
Milwaukee Brewers                 73
Philadelphia Phillies             71
Arizona Diamondbacks              69
Oakland Athletics                 69
Cincinnati Reds                   68
Atlanta Braves                    68
Tampa Bay Rays                    68
San Diego Padres                  68
Minnesota Twins                   59
Name: count, dtype: int64

In [61]:
#Наибольшее количество матчей выиграла команда Chicago Cubs  104

# 15. Какая команда выиграла наибольшее количество домашних матчей в сезоне?

In [63]:
home_game = regular_games[['home_team', 'home_team_outcome']].query('home_team_outcome != "Loss"') #дф домашняя команда и исходы игры с победой, удаляем проигрыш
home_game.head(5)

            home_team home_team_outcome
0  Kansas City Royals               Win
1     Cincinnati Reds               Win
2   Baltimore Orioles               Win
6      Tampa Bay Rays               Win
8  Pittsburgh Pirates               Win

In [64]:
win_home_match = home_game.value_counts() # подсчет количества команд
win_home_match #значения отсортированы по убыванию, первая в списке команда, которая выиграла наибольшее количсетво матчей и количество матчей

home_team                      home_team_outcome
Chicago Cubs                   Win                  57
Cleveland Indians              Win                  53
Los Angeles Dodgers            Win                  53
Texas Rangers                  Win                  53
Washington Nationals           Win                  50
Baltimore Orioles              Win                  50
New York Yankees               Win                  48
Kansas City Royals             Win                  47
Boston Red Sox                 Win                  47
Toronto Blue Jays              Win                  46
Detroit Tigers                 Win                  45
Chicago White Sox              Win                  45
San Francisco Giants           Win                  45
New York Mets                  Win                  44
Seattle Mariners               Win                  44
Houston Astros                 Win                  43
Colorado Rockies               Win                  42
Milwaukee Brewers              Win                  41
Miami Marlins                  Win                  40
Los Angeles Angels of Anaheim  Win                  40
San Diego Padres               Win                  39
Pittsburgh Pirates             Win                  38
St. Louis Cardinals            Win                  38
Cincinnati Reds                Win                  38
Philadelphia Phillies          Win                  37
Tampa Bay Rays                 Win                  36
Oakland Athletics              Win                  34
Arizona Diamondbacks           Win                  33
Atlanta Braves                 Win                  31
Minnesota Twins                Win                  30
Name: count, dtype: int64

# 16. Какая команда выиграла наибольшее количество гостевых матчей в сезоне?

In [66]:
away_game = regular_games[['away_team', 'home_team_outcome']].query('home_team_outcome != "Win"')
#дф гостевая команда и исходы игры проигрыш домашней команды
away_game.head(5)

              away_team home_team_outcome
3  Washington Nationals              Loss
4      Colorado Rockies              Loss
5      Seattle Mariners              Loss
7   Los Angeles Dodgers              Loss
9     Chicago White Sox              Loss

In [104]:
win_away_match = away_game.value_counts() #  подсчет количества команд
win_away_match#значения отсортированы по убыванию, первая в списке команда, которая выиграла наибольшее количество гостевых матчей и количество матчей

away_team                      home_team_outcome
St. Louis Cardinals            Loss                 48
Chicago Cubs                   Loss                 47
Boston Red Sox                 Loss                 46
Washington Nationals           Loss                 45
Toronto Blue Jays              Loss                 43
New York Mets                  Loss                 43
Texas Rangers                  Loss                 42
Seattle Mariners               Loss                 42
San Francisco Giants           Loss                 42
Cleveland Indians              Loss                 41
Houston Astros                 Loss                 41
Detroit Tigers                 Loss                 41
Pittsburgh Pirates             Loss                 40
Baltimore Orioles              Loss                 39
Miami Marlins                  Loss                 39
Los Angeles Dodgers            Loss                 38
Atlanta Braves                 Loss                 37
New York Yankees               Loss                 36
Arizona Diamondbacks           Loss                 36
Oakland Athletics              Loss                 35
Philadelphia Phillies          Loss                 34
Los Angeles Angels of Anaheim  Loss                 34
Kansas City Royals             Loss                 34
Colorado Rockies               Loss                 33
Chicago White Sox              Loss                 33
Tampa Bay Rays                 Loss                 32
Milwaukee Brewers              Loss                 32
Cincinnati Reds                Loss                 30
Minnesota Twins                Loss                 29
San Diego Padres               Loss                 29
Name: count, dtype: int64

In [69]:
#win_away_match = away_game.groupby(['home_team_outcome']).value_counts() # группировка в разрезе исходов игры и подсчет количества команд
#win_away_match#значения отсортированы по убыванию, первая в списке команда, которая выиграла наибольшее количество гостевых матчей и количество матчей

# 17. Какая команда проиграла наибольшее количество матчей в сезоне?

In [71]:
home_reg_season = regular_games[['home_team', 'home_team_outcome']].query('home_team_outcome == "Loss"') #для домашних матчей удалили Win-победа
loss_home = home_reg_season['home_team']
loss_home.head(3)

3          Atlanta Braves
4    Arizona Diamondbacks
5           Texas Rangers
Name: home_team, dtype: object

In [72]:
away_reg_season = regular_games[['away_team', 'home_team_outcome']].query('home_team_outcome != "Loss"').replace('Win', 'Loss')
loss_away = away_reg_season ['away_team'] 
#для гостевых матчей-победа домашней команды, поражение гостевой. Удалили поражение гостевой. Заменили Win на Loss
loss_away.head(3)

0            New York Mets
1    Philadelphia Phillies
2          Minnesota Twins
Name: away_team, dtype: object

In [73]:
loss_teams = pd.concat([loss_home, loss_away]) #объединили поражение команд домашней и гостевой в один df 
loser = loss_teams.value_counts()#количество поражений каждой команды. Отсортированы по убыванию
loser

Minnesota Twins                  103
San Diego Padres                  94
Tampa Bay Rays                    94
Cincinnati Reds                   94
Atlanta Braves                    93
Arizona Diamondbacks              93
Oakland Athletics                 93
Philadelphia Phillies             91
Milwaukee Brewers                 89
Los Angeles Angels of Anaheim     88
Colorado Rockies                  87
Pittsburgh Pirates                84
Chicago White Sox                 84
Miami Marlins                     82
Kansas City Royals                81
Houston Astros                    78
New York Yankees                  78
Seattle Mariners                  76
St. Louis Cardinals               76
San Francisco Giants              75
Detroit Tigers                    75
New York Mets                     75
Baltimore Orioles                 73
Toronto Blue Jays                 73
Los Angeles Dodgers               71
Boston Red Sox                    69
Cleveland Indians                 67
Texas Rangers                     67
Washington Nationals              67
Chicago Cubs                      58
Name: count, dtype: int64

In [74]:
#Minnesota Twins 103 - проиграла наибольшее количество матчей в сезоне

# 18. Зависит ли выигрыш от количества посетителей матча? (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.cov.html)

In [76]:
df_home = data[['attendance', 'home_team_win']]
round(df_home.cov(), 4)

                 attendance  home_team_win
attendance     9.752484e+07       224.9719
home_team_win  2.249719e+02         0.2492

In [77]:
#количество зрителей и победа домашней команды - положительная ковариация показывает, что количество зрителей и число побед 
# изменяются вместе, т.е. чем больше зрителей, больше побед

In [78]:
df_away = data[['attendance', 'home_team_loss']]
round(df_away.cov(), 4)

                  attendance  home_team_loss
attendance      9.752484e+07       -220.7508
home_team_loss -2.207508e+02          0.2492

In [79]:
#количество зрителей и победа гостевой команды - отрицательная ковариация показывает, что количество зрителей и число побед 
# изменяются в обратном направлении, т.е. чем больше зрителей, меньше побед

# 19. Правда ли что большинство проигрышных домашних матчей приходятся на Субботу и Воскресенье?

In [81]:
loss_match = data.query('home_team_outcome == "Loss"')['day_of_week']# отбор проигранных матчей, дни недели, в которые проходили матчи
loss_match.value_counts()

day_of_week
Sunday       190
Tuesday      187
Friday       184
Saturday     175
Wednesday    167
Monday       131
Thursday     125
Name: count, dtype: int64

In [82]:
data['season'].unique() #значения столбца season

array(['regular season', 'post season'], dtype=object)

In [106]:
#На воскресенье прошло большинство проигранных матчей, для субботы утверждение неверно

# 20. Правда ли что наибольшее количество ранов происходит в холодную погоду? (Холодной погодой считается погода ниже 0 градусов)

In [110]:
data['temp_C'] = round((data['temperature'] - 32)*5/9, 2) #перевод фаренгейтов в цельсии. Добавлена колонка для значения C
data.head(5)

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,temp_C
0,0,40030.0,New York Mets,1,7,3,2016-04-03,on grass,Night Game,Kansas City Royals,...,14.0,from Right to Left,Sunny,7,3.216667,regular season,1,0,Win,23.33
1,1,21621.0,Philadelphia Phillies,0,5,2,2016-04-06,on grass,Night Game,Cincinnati Reds,...,24.0,from Right to Left,Overcast,5,2.383333,regular season,1,0,Win,12.78
2,2,12622.0,Minnesota Twins,0,5,2,2016-04-06,on grass,Night Game,Baltimore Orioles,...,7.0,out to Leftfield,Unknown,6,3.183333,regular season,1,0,Win,8.89
3,3,18531.0,Washington Nationals,0,8,3,2016-04-06,on grass,Night Game,Atlanta Braves,...,10.0,from Right to Left,Cloudy,4,2.883333,regular season,0,1,Loss,18.33
4,4,18572.0,Colorado Rockies,1,8,4,2016-04-06,on grass,Day Game,Arizona Diamondbacks,...,0.0,in unknown direction,In Dome,7,2.650000,regular season,0,1,Loss,25.00

In [112]:
max_runs_c = data.query('temp_C<0')
max_runs_c

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,temp_C
2409,2409,32419.0,New York Yankees,1,13,8,2016-04-09,on grass,Day Game,Detroit Tigers,...,18.0,from Left to Right,Cloudy,12,3.333333,regular season,0,1,Loss,-0.56

In [114]:
max_runs_f = data.query('temperature < 0')
max_runs_f

Empty DataFrame
Columns: [Unnamed: 0, attendance, away_team, away_team_errors, away_team_hits, away_team_runs, date, field_type, game_type, home_team, home_team_errors, home_team_hits, home_team_runs, start_time, venue, day_of_week, temperature, wind_speed, wind_direction, sky, total_runs, game_hours_dec, season, home_team_win, home_team_loss, home_team_outcome, temp_C]
Index: []

[0 rows x 27 columns]

In [ ]:
max_runs_c[['total_runs', 'away_team_runs', 'home_team_runs']]

In [ ]:
#В Фаренгейтах в анализируемом DF нет значения температуры меньше 0. При переводе в цельсии одно значение ниже 0, 
#т.е. 1 игра состоялась при температуре ниже 0, но ранс не соответствует максимальному значению

In [ ]:
#Поэтому невозможно подтвердить, что наибольшее количество ранов происходит в холодную погоду